{% extends 'index.html'%}
{% comment %} {% load crispy_forms_tags %} {% endcomment %}
{% block content %}

<div class="container mt-4 d-flex text-center shadow p-3 mb-5 bg-body rounded">
    <div class="container my-auto">
            <div class="card shadow border-0 mb-4">
              <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                <div class="bg-gradient-info pb-3 border-radius-lg">
                  <h4 class="text-white font-weight-bolder text-center mt-2 mb-0">Restablece tu contrasena</h4>
                </div>
              </div>
              <form method="POST">
                <p>Olvidaste tu contrasena?</p>
                <p>Ingresa tu correo aqui y te enviaremos instrucciones para una nueva.</p>
                {% csrf_token %}
                    {{form}}
                <input class="btn btn-info" type="Submit" value="Enviar" name="Send email">
            </form>
    </div>
</div>
</div>

{% endblock content %}